[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DSpoty"]
	path = DSpoty
	url = https://github.com/albertoalmuinha/dspoty
[submodule "ROMDB"]
	path = ROMDB
	url = https://github.com/albertoalmuinha/romdb
[submodule "rgenius"]
	path = rgenius
	url = https://github.com/albertoalmuinha/rgenius
[submodule "shinyrecipes"]
	path = shinyrecipes
	url = https://github.com/albertoalmuinha/shinyrecipes
